@font-face {
  font-family: 'iconfont'; 
  src: url('https://www.youyacao.com/log/style/css/img/font_1714289_h1iqpjzlr7i.eot');
  src: url('https://www.youyacao.com/log/style/css/img/font_1714289_h1iqpjzlr7i.eot?#iefix') format('embedded-opentype'),
  url('https://www.youyacao.com/log/style/css/img/font_1714289_h1iqpjzlr7i.woff2') format('woff2'),
  url('https://www.youyacao.com/log/style/css/img/font_1714289_h1iqpjzlr7i.woff') format('woff'),
  url('https://www.youyacao.com/log/style/css/img/font_1714289_h1iqpjzlr7i.ttf') format('truetype'),
  url('https://www.youyacao.com/log/style/css/img/font_1714289_h1iqpjzlr7i.svg') format('svg');
}