<?xml version="1.0" encoding="utf-8"?>
<plugin version="php">
<id>Watermark</id>
<name>图片加水印</name>
<url>http://www.fengwensheng.com/</url>
<note>给上传的图片添加水印</note>
<description>给上传的图片添加水印</description>
<path>main.php</path>
<include>include.php</include>
<level>1</level>
<author>
  <name>流年岁月</name>
  <email>372664700@qq.com</email>
  <url>http://zbptest.fengwensheng.com/</url>
</author>
<source>
  <name></name>
  <email></email>
  <url></url>
</source>
<adapted>140614</adapted>
<version>1.2</version>
<pubdate>2014-06-15</pubdate>
<modified>2014-07-28</modified>
<price>0</price>
<advanced>
  <dependency></dependency>
  <rewritefunctions></rewritefunctions>
  <conflict></conflict>
</advanced>
<sidebars>
  <sidebar1></sidebar1>
  <sidebar2></sidebar2>
  <sidebar3></sidebar3>
  <sidebar4></sidebar4>
  <sidebar5></sidebar5>
</sidebars>
</plugin>