body{background:#eee;margin:0}
img{border:0}
.browseupgrade{padding:8px 0;background:#FBE3E4;color:#8A1F11;text-align:center}
.browseupgrade a{color:#8A1F11;text-decoration:underline;font-weight:bold}
#header {position:relative;}
#nav{display:block}
#main .post-warp .breadcrumb {background:#fff}
#main .post-box {background:#fff;min-height:auto}
.page-navigator{font-size:13px;margin:0 auto}
.page-navigator li{float:left}
.mail_tooltip,.post .zan,.comt-box .comt-mb,.swiper-container,body>span.mm-slideout,#XF_Music{display:none!important}
.post .post-title {background:#ddd}
.page-navigator a, .page-navigator span {background:#f2f2f2}
.page-navigator .current span {background-color:#4773b1;}
.page-navigator a:hover{color:#428bca}
#main .breadcrumb{width:95%;}
.post .post-title{background:#fff;border-bottom:1px solid #ddd}
.widget-title{border-bottom:1px solid #aaa;font-size:15px}
#footer{background:#34495E}
#footer #footer_bottom {border-top:1px solid #aaa}
.inlo-a::after{content:'';position:absolute;height:5px;width:100%;top:50%;margin-top:-2px;right:0;opacity:.5;filter:alpha(opacity=50);-webkit-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0);-webkit-transition:-webkit-transform .4s;transition:transform .4s;-webkit-transition-timing-function:cubic-bezier(.7,0,.3,1);transition-timing-function:cubic-bezier(.7,0,.3,1)}
@media screen and (max-width: 1216px){#header_content {padding-top: 0!important;}}