.panel-default {
	box-shadow: 0 2px 0 rgba(90,97,105,.11), 0 4px 8px rgba(90,97,105,.12), 0 10px 10px rgba(90,97,105,.06), 0 7px 70px rgba(90,97,105,.1);
}
.navbar-default {
    box-shadow: 0 2px 8px 2px rgba(90,97,105,.1);
}
.table-responsive tr th,
.table-responsive tr td {
	font-size: 14px;
}
.panel .search-content label {
	font-weight: normal;
}
.panel .search-content input.form-control {
	width: auto;
	float: none;
	display: inline-block;
}
.panel .form-group {
	margin-bottom: 15px;
}
.panel .form-group select {
	width: 100%;
}
.panel .form-group label.block {
	display: block;
	padding-top: 0;
	margin-bottom: .5rem;
}
.panel .form-group label.inline {
	display: inline-block;
	font-weight: normal;
	padding-top: 0;
	padding-right: 10px;
}
.panel .form-group label.block a[data-toggle=popover]:focus {
	outline: none;
}
.panel .form-group .nopadding {
	padding: 0;
	position: relative;
}
.panel .form-group .nopadding .colpick {
	height: 176px;
	top: 34px !important;
	left: 0 !important;
}
.panel .form-group .nopadding .colpick .colpick_field_letter {
	box-sizing: content-box;
}
.panel .form-group .nopadding .colpick input {
	width: auto;
}
.panel .form-group textarea {
	width: 100%;
}
.panel .form-group div.ueditor {
	height: auto;
}
.panel .form-group.explain {
	margin: 0;
}
.panel .form-group.explain .form-control-static {
	min-height: auto;
    padding: 0;
}
.panel .form-group input[type="text"].form-control,
.panel .form-group input[type="number"].form-control {
	width: 100%;
}
.left a {
	color: #333;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  border-radius: 25px;
  font-size: 18px;
  line-height: 1.33;
}
.text-align {
	text-align: center;
	padding: 120px 0; 
}
.text-align p {
	margin-top: 10px;
}

/* radio*/
label.bui-radios-label input {
	position: absolute;
	opacity: 0;
	visibility: hidden;
}
label.bui-radios-label .bui-radios {
	display: inline-block;
	position: relative;
	width: 15px;
	height: 15px;
	background: #FFFFFF;
	border: 1px solid #979797;
	border-radius: 50%;
	vertical-align: -2px;
}
label.bui-radios-label input:checked + .bui-radios:after {
	position: absolute;
	content: "";
	width: 7px;
	height: 7px;
	background-color: #fff;
	border-radius: 50%;
	top: 3px;
	left: 3px;
}
label.bui-radios-label input:checked + .bui-radios {
	background: #337ab7;
	width: 13px;
    height: 13px;
	box-sizing: content-box;
	border: 1px solid #2e6da4;
}
label.bui-radios-label input:disabled + .bui-radios {
	background-color: #e8e8e8;
	border: solid 1px #979797;
}
label.bui-radios-label input:disabled:checked + .bui-radios:after {
	background-color: #c1c1c1;
}
label.bui-radios-label.bui-radios-anim .bui-radios {
	-webkit-transition: background-color ease-out .3s;
	transition: background-color ease-out .3s;
}