@font-face {
  font-family: "iconfont"; /* Project id 3915317 */
  src: url('../fonts/iconfont.woff2') format('woff2'),
       url('../fonts/iconfont.woff') format('woff'),
       url('../fonts/iconfont.ttf') format('truetype');
}


.icon-lian:before {
  content: "\e602";
}

.icon-xiaochengxu:before {
  content: "\e61e";
}

.icon-guanyu:before {
  content: "\e641";
}

.icon-shouye:before {
  content: "\e8b9";
}

.icon-anli:before {
  content: "\e6a4";
}

.icon-ps:before {
  content: "\e704";
}

.icon-xinwen:before {
  content: "\ea29";
}

.icon-close:before {
  content: "\e668";
}

.icon-zaixianzixun:before {
  content: "\e642";
}

.icon-xiangyou:before {
  content: "\e601";
}

.icon-xinlangweibo:before {
  content: "\e600";
}

.icon-sanjiao2:before {
  content: "\e603";
}

.icon-sanjiao1:before {
  content: "\e604";
}

.icon-sanjiao4:before {
  content: "\e605";
}

.icon-sanjiao3:before {
  content: "\e606";
}

.icon-weixin:before {
  content: "\e632";
}

.icon-arrow-left:before {
  content: "\e607";
}

.icon-arrow-up:before {
  content: "\e635";
}

.icon-arrow-down:before {
  content: "\e665";
}

.icon-arrow-right:before {
  content: "\e666";
}

.icon-youxiang:before {
  content: "\e608";
}

.icon-dizhi:before {
  content: "\e60c";
}

