@import "iconfont_1.css";
html {
    font-family: "Microsoft YaHei", sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
html,
body {
    /*overflow-x: hidden;*/
    overscroll-behavior: contain;
    scroll-behavior: smooth;
}
object {
    pointer-events: none;
}
a {
    background-color: transparent;
    color: inherit;
    text-decoration: none;
}
p,
h1,
h2,
h3,
h4,
h5,
body,
dl,
dd {
    margin: 0;
}
a:active,
a:hover {
    outline: 0;
}
img {
    border: 0;
    max-width: 100%;
    vertical-align: middle;
}
button,
input,
optgroup,
select,
textarea {
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    font: inherit;
    color: inherit;
    vertical-align: middle;
    padding: 0;
    border: 0;
    outline: 0;
    background-color: transparent;
}
button {
    overflow: visible;
}
button,
select {
    text-transform: none;
}
textarea {
    overflow: auto;
}
table {
    max-width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}
td,
th {
    padding: 0;
}
.ul li,
.ul,
.ul ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.touch,
.container,
[class*='-abs'],
[class*='body'],
[class*='content'] {
    position: relative;
}
.clear:after {
    clear: both;
}
.t-center {
    text-align: center;
}
.col {
    margin: 0 -0.5rem -0.5rem 0;
}
.col .col-content {
    margin: 0 0.5rem 0.5rem 0;
}
.col-2 .col-item {
    width: 50%;
}
.col-3 .col-item {
    width: 33.3333%;
}
.col-4 .col-item {
    width: 25%;
}
.full-content {
    max-width: 1920px;
    margin: 0 auto;
    box-sizing: border-box;
}
.gray {
    background-color: #fcf8f8;
}
[class^='tran'],
[class*=' tran'] {
    transition-timing-function: linear;
    transition-property: all;
}
.tran1 {
    transition-duration: 0.1s;
}
a,
.fade,
.touch .default {
    transition: all 0.2s ease-out;
}
.tran2 {
    transition-duration: 0.2s;
}
.tran4 {
    transition-duration: 0.4s;
}
.tran6 {
    transition-duration: 0.6s;
}
[class^='ell'],
[class*=' ell'] {
    overflow: hidden;
    text-overflow: ellipsis;
}
.ell {
    white-space: nowrap;
}
.ell-more {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
[class^='item-'],
[class*=' item-'] {
    display: inline-block;
}
.item-m {
    vertical-align: middle;
}
.item-t {
    vertical-align: top;
}
.item-b {
    vertical-align: bottom;
}
.contain,
.cover {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
}
.contain {
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
}
.cover {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
.fill,
[class*='left'] {
    left: 0;
}
.fill,
[class*='right'] {
    right: 0;
}
.fill,
[class*='top'] {
    top: 0;
}
.fill,
[class*='bottom'] {
    bottom: 0;
}
.tab-content .item,
.none {
    display: none;
}
a,
canvas,
svg,
.clear:after,
.tab-content .item.active,
.square:after,
[class^='add']:after,
[class^='add']:before,
[class*=' add']:after,
[class*=' add']:before,
.block {
    display: block;
}
.col-item,
.fl {
    float: left;
}
.fr {
    float: right;
}
.clear:after,
.square:after,
[class^='add']:after,
[class^='add']:before,
[class*=' add']:after,
[class*=' add']:before {
    content: "";
}
.fill,
[class*='-abs']:after,
[class*='-abs']:before,
[class^='abs'],
[class*=' abs'] {
    position: absolute;
}
.abs-center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
.fade-leave-to,
.fade-enter,
.fade {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
.fade-enter-to,
.fade-leave,
.fade-active {
    visibility: visible;
    opacity: 1;
    pointer-events: unset;
}
.circle {
    -webkit-border-radius: 960px;
    -moz-border-radius: 960px;
    border-radius: 960px;
}
.square:after {
    padding-top: 100%;
}
[class^='flex'],
[class*=' flex'] {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.flex-hoz-end {
    -webkit-box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
}
.flex-balance,
.flex-row-between {
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.flex-gather,
.flex-row-center {
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.flex-balance,
.flex-gather,
.flex-hoz-center {
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.flex-wrap {
    -webkit-box-wrap: wrap;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.flex-row-around {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}
.flex-column {
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}
@media (max-width: 800px) {
    .hide-mob {
        display: none;
    }
}
@media (min-width: 801px) {
    .hide-pc {
        display: none;
    }
}
.touch.active .default,
.touch.swiper-slide-active .default,
.touch:hover .default {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
.touch.active .fade,
.touch.swiper-slide-active .fade,
.touch:hover .fade {
    margin: 0;
    visibility: visible;
    opacity: 1;
    pointer-events: unset;
}
.oppress {
    overflow: hidden;
}
.oppress img,
.oppress .cover,
.oppress .contain {
    transition: all 2s linear;
}
.oppress:hover img,
.oppress:hover .cover,
.oppress:hover .contain {
    transform: scale(1.1);
}
.clip {
    overflow: hidden;
}
.box-3d {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    position: relative;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.title {
    font-weight: bold;
}
.body-content {
    margin-left: 1rem;
    margin-right: 1rem;
}
@media (max-width: 384px) {
    .body-content {
        margin-left: 20px;
        margin-right: 20px;
    }
}
.body {
    max-width: 1470px;
    margin: 0 auto;
}
.spacing,
.spacing-top {
    padding-top: 0.75rem;
}
@media (max-width: 1230px) {
    .spacing,
    .spacing-top {
        padding-top: 48px;
    }
}
.spacing,
.spacing-bottom {
    padding-bottom: 0.75rem;
}
@media (max-width: 1230px) {
    .spacing,
    .spacing-bottom {
        padding-bottom: 48px;
    }
}
.body-container {
    padding-left: 1rem;
    padding-right: 1rem;
}
@media (max-width: 384px) {
    .body-container {
        padding-left: 20px;
        padding-right: 20px;
    }
}
.box-container {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}
@media (max-width: 512px) {
    .box-container {
        padding-left: 20px;
        padding-right: 20px;
    }
}
.cross-content {
    margin-right: -2.25rem;
}
.edit-content {
    line-height: 1.8;
}
.text {
    font-size: 14px;
    line-height: 1.8;
    opacity: 0.7;
}
.text.ell-more {
    height: 3.6em;
}
@media (max-width: 1440px) {
    .text {
        line-height: 1.6;
    }
    .text.ell-more {
        height: 3.2em;
    }
}
@media (max-width: 800px) {
    .text {
        font-size: 13px;
    }
}
@media (max-width: 640px) {
    .text {
        font-size: 12px;
    }
}
.text * {
    font-size: inherit!important;
    line-height: inherit!important;
}
[class^='adpat'],
[class*=' adpat'] {
    font-size: 20px;
}
@media (max-width: 1680px) {
    [class^='adpat'],
    [class*=' adpat'] {
        font-size: 18px;
    }
}
@media (max-width: 1440px) {
    [class^='adpat'],
    [class*=' adpat'] {
        font-size: 16px;
    }
}
@media (max-width: 1280px) {
    .adpat-much,
    .adpat-more {
        font-size: 14px;
    }
}
@media (max-width: 1024px) {
    .adpat-much,
    .adpat-more {
        font-size: 12px;
    }
}
@media (max-width: 800px) {
    .adpat-much {
        font-size: 10px;
    }
}
@media (max-width: 640px) {
    .adpat-much {
        font-size: 8px;
    }
}
body,
.tf {
    font-size: 16px;
}
@media (max-width: 1200px) {
    body,
    .tf {
        font-size: 14px;
    }
}
html:not(.ready) * {
    transition: none!important;
}
[duration='1'] {
    animation-duration: 1s;
}
[duration='2'] {
    animation-duration: 2s;
}
[duration='3'] {
    animation-duration: 3s;
}
[duration='4'] {
    animation-duration: 4s;
}
[duration='5'] {
    animation-duration: 5s;
}
[duration='6'] {
    animation-duration: 6s;
}
[duration='7'] {
    animation-duration: 7s;
}
[duration='8'] {
    animation-duration: 8s;
}
[duration='9'] {
    animation-duration: 9s;
}
[duration='10'] {
    animation-duration: 10s;
}
.weigh {
    width: 100%;
}
.high {
    height: 100%;
}
[class*='icon-'] {
    font-size: unset;
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}