@charset "UTF-8";

/********** 页面样式* *********/


/* ========== 基本默认值 ========== */

select::-ms-expand {
	display: none;
}

* {
	box-sizing: border-box;
	/*-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;*/
	-webkit-backface-visibility: hidden;
}

a {
	text-decoration: none;
	color: #2f3031;
}

p,
dl {
	margin: 0;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: normal;
}

img {
	vertical-align: middle;
}


/* ========== 工具样式 ========== */

.width-auto {
	width: 100%;
}

.center-block {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.invisible {
	/*将元素隐藏，但保留元素占位*/
	visibility: hidden;
}

.text-hide {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}

.pull-left {
	float: left !important;
}

.pull-right {
	float: right !important;
}

.text-center {
	text-align: center;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	/*IE6 and IE7*/
	zoom: 1;
}

.middle {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

.wrap {
	width: 24rem;
	margin: 0 auto;
}

html {
	font-size: 50px;
}

body {
	width: 100vw;
	height: 100vh;
	background: #FFFFFF;
	min-width: 1200px;
	font-family: 'PingFang SC', "微软雅黑", "microsoft yahei";
	font-size: 14px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-font-smoothing: subpixel-antialiased;
}

.swiper-container {
	width: inherit;
	min-width: 1200px;
}

.swiper-container-v {
	height: inherit;
	font-size: 0;
}

.swiper-container-v .swiper-slide {
	display: table;
	table-layout: fixed;
}

.swiper-container-v .swiper-slide .table-cell {
	display: table-cell;
	vertical-align: middle;
}

.swiper-container-h {
	height: inherit;
	width: 100%;
	background: url("../images/banner.png"/*tpa=http://www.001jing.cn/web/lenovo/pc/images/banner.png*/) center/auto 100% no-repeat;
}

.swiper-container-h .swiper-slide {
	background: center/auto 100% no-repeat;
}

.swiper-container-h .banner {
	position: relative;
}

.swiper-container-h .banner img {
	width: 21.69rem;
	position: absolute;
	margin: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.swiper-container-h .swiper-button-prev {
	width: .5rem;
	height: 1rem;
	left: 1rem;
	margin-top: .25rem;
	background: url("../images/prev.png"/*tpa=http://www.001jing.cn/web/lenovo/pc/images/prev.png*/) center/cover no-repeat;
}

.swiper-container-h .swiper-button-next {
	width: .5rem;
	height: 1rem;
	right: 1rem;
	margin-top: .25rem;
	background: url("../images/next.png"/*tpa=http://www.001jing.cn/web/lenovo/pc/images/next.png*/) center/cover no-repeat;
}

.header {
	height: 1.8rem;
	line-height: 1.8rem;
	background: #ffffff;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	min-width: 1200px;
	z-index: 999;
}

.header .wrap {
	height: inherit;
	line-height: inherit;
	text-align: center;
}

.header .the-left {
	float: left;
	text-align: left;
}

.header .the-left .name {
	font-size: .48rem;
	color: #000;
	margin-bottom: .2rem;
	height: 0.46rem;
	line-height: 0.46rem;
}

.header .the-left .name:after {
	content: '';
	display: inline-block;
	width: 100%;
	height: 0;
	line-height: 0;
	vertical-align: top;
	padding: 0;
	margin: 0;
}

.header .the-left .time {
	font-size: .24rem;
	color: #999999;
	height: 0.23rem;
	line-height: 0.23rem;
}

.header .the-left .time:after {
	content: '';
	display: inline-block;
	width: 100%;
	height: 0;
	line-height: 0;
	vertical-align: top;
	padding: 0;
	margin: 0;
}

.header .the-right {
	float: right;
	text-align: right;
}

.header .the-right .name {
	font-size: .24rem;
	color: #000;
	text-align: justify;
	margin-bottom: .14rem;
	height: 0.23rem;
	line-height: 0.23rem;
}

.header .the-right .name:after {
	content: '';
	display: inline-block;
	width: 100%;
	height: 0;
	line-height: 0;
	vertical-align: top;
	padding: 0;
	margin: 0;
}

.header .the-right .num {
	font-family: Roboto;
	font-size: .52rem;
	height: 0.39rem;
	line-height: 0.39rem;
}

.header .the-right .num:after {
	content: '';
	display: inline-block;
	width: 100%;
	height: 0;
	line-height: 0;
	vertical-align: top;
	padding: 0;
	margin: 0;
}

.header .nav {
	font-size: 0;
	display: inline-block;
	vertical-align: top;
}

.header .nav li {
	display: inline-block;
	vertical-align: top;
}

.header .nav li+li {
	margin-left: .89rem;
}

.header .nav li a {
	font-size: .28rem;
	color: #666666;
	display: inline-block;
	vertical-align: middle;
	line-height: .27rem;
}

.header .nav li.active a {
	color: #333333;
	position: relative;
}

.header .nav li.active a:after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	height: .04rem;
	background: #333333;
	bottom: -.31rem;
}

.index-h {
	line-height: normal;
}

.index-h .title {
	font-size: .6rem;
	line-height: .58rem;
	color: #000000;
}

.index-h .subtitle {
	font-size: .26rem;
	line-height: .4rem;
	color: #666666;
}

.index-help .index-h {
	margin-bottom: 1.24rem;
}

.index-help .nav-tabs {
	height: 2rem;
	line-height: 2rem;
	text-align: justify;
	margin-bottom: .89rem;
}

.index-help .nav-tabs:after {
	content: '';
	display: inline-block;
	width: 100%;
	height: 0;
	line-height: 0;
	vertical-align: top;
	padding: 0;
	margin: 0;
}

.index-help .nav-tabs li {
	cursor: pointer;
	display: inline-block;
	vertical-align: top;
	width: 7.6rem;
	text-align: center;
	font-size: .48rem;
	height: inherit;
	line-height: inherit;
	color: #FFFFFF;
	border-radius: .16rem;
	background: #2E97EA center/cover no-repeat;
}

.index-help .nav-tabs li.active {
	position: relative;
}

.index-help .nav-tabs li.active:after {
	content: "";
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	margin: auto;
	bottom: -.02rem;
	left: 0;
	right: 0;
	border-left: .3rem solid transparent;
	border-right: .3rem solid transparent;
	border-bottom: .32rem solid #FFFFFF;
}

.index-help .tab-pane {
	background: #FFFFFF;
}

.index-help .tab-pane .swiper-pagination {
	line-height: 0;
}

.index-help .tab-pane:after {
	content: '';
	display: inline-block;
	width: 100%;
	height: 0;
	line-height: 0;
	vertical-align: top;
	padding: 0;
	margin: 0;
}

.index-help .tab-pane .item {
	width: 4rem;
	vertical-align: top;
	display: inline-block;
}

.index-help .tab-pane .item .product-picture {
	width: inherit;
	height: 4rem;
	margin-bottom: .08rem;
	cursor: pointer;
}

.index-help .tab-pane .item .title {
	height: 0.74rem;
	line-height: 0.74rem;
	text-align: center;
	font-size: .32rem;
	width: inherit;
	position: relative;
	margin-bottom: .44rem;
}

.index-help .tab-pane .item .title:before {
	content: '';
	height: .04rem;
	display: block;
	background: #333333;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

.index-help .tab-pane .item .title:after {
	content: "";
	height: .04rem;
	display: block;
	background: #333333;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.index-help .tab-pane .item ul {
	text-align: center;
}

.index-help .tab-pane .item li {
	line-height: .52rem;
}

.index-help .tab-pane .item li div {
	display: inline-block;
	line-height: 1;
	vertical-align: top;
	position: relative;
	font-size: 0;
}

.index-help .tab-pane .item li .icon {
	width: 0.2rem;
	height: 0.2rem;
	vertical-align: middle;
	margin-right: .23rem;
}

.index-help .tab-pane .item li .name {
	font-size: .24rem;
	line-height: .23rem;
	display: inline-block;
	vertical-align: middle;
	color: #999999;
}

@media only screen and (max-height: 750px) {
	.index-help .tab-pane .item .product-picture {
		display: none;
	}
}

.index-trouble .index-h {
	margin-bottom: .7rem;
}

.index-trouble .list {
	text-align: justify;
	line-height: 0;
}

.index-trouble .list .item {
	display: inline-block;
	width: 7.6rem;
	height: 3rem;
	line-height: 2.96rem;
	border: .02rem solid #DDDDDD;
	border-radius: .16rem;
	padding-left: .48rem;
	vertical-align: top;
	font-size: 0;
}

.index-trouble .list .item:nth-child(3)~.item {
	margin-top: .6rem;
}

.index-trouble .list .item img {
	width: 2rem;
	height: 2rem;
	margin-right: .42rem;
	vertical-align: middle;
}

.index-trouble .list .item .text {
	vertical-align: middle;
	width: 4.22rem;
	display: inline-block;
}

.index-trouble .list .item .title {
	font-size: .36rem;
	line-height: 1;
	color: #000;
	margin-bottom: .2rem;
}

.index-trouble .list .item .subtitle {
	font-size: .28rem;
	line-height: .4rem;
	color: #999999;
	letter-spacing: 0;
}

.index-trouble .list .item.pseudo {
	height: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
	border: none !important;
	visibility: hidden !important;
}

.index-phenomenon .index-h {
	margin-bottom: .68rem;
}

.index-phenomenon .index-h .title {
	margin-bottom: .22rem;
}

.index-phenomenon .table-box {
	overflow: auto;
	max-height: calc(100vh - 1.8rem - 114px - 2rem);
}

.index-phenomenon table {
	width: 100%;
	border-collapse: collapse;
	border: .02rem solid #DDDDDD;
}

.index-phenomenon table th {
	height: .88rem;
	border: .02rem solid #DDDDDD;
	font-size: .32rem;
	color: #000000;
	font-weight: normal;
	background: #F2F8FD;
	text-align: center;
}

.index-phenomenon table td {
	font-size: .28rem;
	height: .88rem;
	border: .02rem solid #DDDDDD;
	text-align: center;
	color: #666666;
}

.index-about .the-left {
	overflow: hidden;
	text-align: left;
}

.index-about .the-left .index-h {
	margin-top: .42rem;
	margin-bottom: .53rem;
}

.index-about .the-left .summary {
	max-width: 11.2rem;
	font-size: .32rem;
	line-height: .68rem;
	color: #666666;
	text-align: justify;
	margin-bottom: .63rem;
}

.index-about .the-left img {
	width: 11.17rem;
}

.index-about .the-right {
	width: 12.05rem;
	float: right;
}

.index-about .the-right img {
	width: 100%;
}

.index-team .index-h {
	margin-bottom: 1rem;
}

.index-team ul {
	text-align: justify;
	line-height: 0;
}

.index-team ul:after {
	content: '';
	display: inline-block;
	width: 100%;
	height: 0;
	line-height: 0;
	vertical-align: top;
	padding: 0;
	margin: 0;
}

.index-team .item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 5.55rem;
}

.index-team .item img {
	width: inherit;
	height: 3.4rem;
	border-radius: .16rem .16rem 0 0;
}

.index-team .item .text {
	width: inherit;
	height: 1.97rem;
	padding-top: .38rem;
	border: .02rem solid #EEEEEE;
	border-top: none;
	border-radius: 0 0 .16rem .16rem;
}

.index-team .item .title {
	font-size: .28rem;
	line-height: .27rem;
	color: #333333;
	margin-bottom: .23rem;
}

.index-team .item .subtitle {
	font-size: .24rem;
	line-height: .4rem;
	color: #999999;
}

.index-support {
	height: 2rem;
	line-height: 2rem;
	background: #2E97EA;
	text-align: center;
	font-size: 0;
}

.index-support .title {
	display: inline-block;
	font-size: .48rem;
	color: #FFFFFF;
	vertical-align: middle;
	margin-right: .6rem;
}

.index-support .btn {
	display: inline-block;
	vertical-align: middle;
	width: 4rem;
	height: .88rem;
	line-height: .84rem;
	border: .02rem solid #FFFFFF;
	border-radius: .88rem;
	text-align: center;
}

.index-support .btn img {
	width: .56rem;
	vertical-align: middle;
	margin-right: .19rem;
}

.index-support .btn span {
	vertical-align: middle;
	font-size: .4rem;
	color: #FFFFFF;
}

.footer {
	width: 100%;
	vertical-align: bottom !important;
	overflow: hidden;
}

.footer .index-h {
	margin-top: 1.05rem;
	margin-bottom: 1.48rem;
}

.footer .index-h .title {
	margin-bottom: .32rem;
}

.footer .other {
	font-size: 0;
	margin-bottom: 1.2rem;
}

.footer .other .item {
	display: inline-block;
	text-align: center;
	width: 33%;
	margin:12px 0 0 0;
}

.footer .other .img-box {
	display: inline-block;
	vertical-align: top;
	width: 0.8rem;
	height: 0.8rem;
	line-height: .8rem;
	margin-bottom: .35rem;
}

.footer .other .img-box img {
	max-width: 100%;
	vertical-align: middle;
}

.footer .other .title {
	font-size: .36rem;
	line-height: .34rem;
	color: #333333;
	margin-bottom: .3rem;
}

.footer .other .subtitle {
	font-size: .24rem;
	color: #333;
	line-height:0.5rem;
}

.footer .copyright {
	text-align: center;
	font-size: .24rem;
	color: #999999;
	height: 1.6rem;
	line-height: 1.58rem;
	border-top: .02rem solid #DDDDDD;
}

.fixed {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 4rem;
	height: .88rem;
	line-height: .84rem;
	background: #2E97EA;
	text-align: center;
	z-index: 999;
}
.fixed img {
	width: .56rem;
	vertical-align: middle;
	margin-right: .19rem;
}
.fixed span {
	vertical-align: middle;
	font-size: .4rem;
	color: #FFFFFF;
}
