body {
  font: 14px/1.6 "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  background: #f7f8fa
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, code, form, input, button, textarea, p, th, td {
  margin: 0;
  padding: 0;
  outline: 0
}
li, ul, dl {
  list-style: none;
  vertical-align: middle
}
a {
  color: #666;
  text-decoration: none
}
a, a:hover, a:mid {
  outline: 0;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent
}
.left {
  float: left
}
.right {
  float: right
}
.clear {
  clear: both
}
body, p, h2, h3 {
  margin: 0;
  padding: 0;
  outline: 0
}
.banner {
  height: 500px;
  background: #1E90FF
}
.banner .logo {
  margin: 0 auto;
  width: 1000px;
  height: 30px;
  padding-top: 10px
}
.banner .logo .logoimg {
  float: left;
  width: 105px;
  height: 28px
}
.banner .image {
  margin: 0 auto;
  width: 1000px;
  height: 400px
}
.ec_seo .title {
  padding: 40px 0 40px;
  text-align: center
}
.ec_seo .title h2 {
  font-size: 36px
}
.ec_seo .title p {
  padding: 5px 0 15px;
  font-size: 16px;
  color: #666
}
.ec_seo .nav {
  width: 1600px;
  margin: 0 auto
}
.ec_seo .nav p {
  padding: 0 0 70px 50px;
  color: #666
}
.ec_seo .nav ul {
  position: relative
}
.ec_seo .nav li {
  width: 360px;
  height: 375px;
  border-radius: 3px;
  border: solid 1px #e9e9e9;
  background: #FFF
}
.ec_seo .nav li h3 {
  position: relative;
  height: 80px;
  line-height: 80px;
  font-size: 28px;
  text-align: center;
  color: #666;
  border-bottom: solid 1px #ebebeb;
  background: #f9f9f9
}
.ec_seo .nav li dl {
  padding: 24px 30px
}
.ec_seo .nav li dt {
  padding-bottom: 20px;
  text-align: center;
  font-weight: normal;
  font-size: 30px
}
.ec_seo .nav li dd {
  position: relative;
  padding: 10px 0;
  overflow: hidden;
  font-size: 16px;
  color: #666;
  border-bottom: solid 1px #e9e9e9
}
.ec_seo .nav li dd span {
  float: left;
  padding-left: 5px
}
.ec_seo .nav li.left {
margin:28px 0 0 65px
}
.ec_seo .nav li.right {
margin:28px 50px 0 0
}
.ec_seo .nav li.right dl {
  padding: 24px
}
.ec_seo .nav li.ee {
    position: absolute;
    z-index: 1;
    left: 808px;
    top: 2px;
    width: 376px;
    height: 422px;
    border-color: #238efa;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, .1)
}
.ec_seo .nav li.ee a {
  color: #fff;
  background: #e01222
}
.ec_seo .nav li.ee h3 {
  color: #fff;
  border-color: #238efa;
  background-color: #238efa
}
.ec_seo .nav li.ee dl {
  padding-bottom: 20px
}
.ec_seo .nav li.ee dd {
  padding: 14px 0;
  font-size: 18px
}
.ec_seo .nav li.ee dd i {
  top: 16px
}
.ec_seo .nav li.mid {
    position: absolute;
    z-index: 1;
    left: 429px;
    top: 2px;
    width: 376px;
    height: 422px;
    border-color: #238efa;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, .1)
}
.ec_seo .nav li.mid a {
  color: #fff;
  background: #e01222
}
.ec_seo .nav li.mid h3 {
  color: #fff;
  border-color: #238efa;
  background-color: #238efa
}
.ec_seo .nav li.mid dl {
  padding-bottom: 50px
}
.ec_seo .nav li.mid dd {
  padding: 14px 0;
  font-size: 18px
}
.ec_seo .nav li.mid dd i {
  top: 16px
}
.ec_seo .nav li a {
  display: block;
  margin: 10px auto;
  padding: 6px 0 9px;
  width: 184px;
  font-size: 22px;
  text-align: center;
  color: #e01222;
  border: solid 1px #e01222;
  border-radius: 3px
}
.ec_seo .nav li a:hover {
  opacity: .9;
  color: #fff;
  background: #e01222
}
.faq .title {
  padding: 80px 0 20px 0;
  text-align: center
}
.faq .title h2 {
  font-size: 36px
}
.faq .nav {
  padding-bottom: 80px;
  width: 1100px;
  margin: 0 auto
}
.faq .nav li {
  padding-bottom: 20px;
  background: #fff
}
.faq .nav li p {
  margin: 20px 45px;
  line-height: 32px;
  font-size: 16px;
  color: #666
}
.faq .nav li h3 {
  padding-left: 45px;
  height: 60px;
  line-height: 60px;
  font-size: 24px;
  color: #fff;
  background: #ccc
}
.faq .nav li h3 i {
  float: right;
  width: 100px;
  height: 72px
}
.city_seo {
  width: 50px;
  height: 100px;
  overflow: hidden;
  position: absolute;
  left: -70px;
  display: inline-block
}
.foot {
  line-height: 64px;
  text-align: center;
  font-size: 12px;
  color: #666
}
.foot a {
  color: #666;
  padding: 0 15px
}
.ecbub_text {
  width: 1px;
  height: 1px;
  overflow: hidden;
}
