<?xml version="1.0" encoding="utf-8"?>
<plugin version="php">
<id>SaveRemoteImage</id>
<name>保存站外图片</name>
<url>https://kfuu.cn</url>
<note>自动将文章中的站外图片保存在网站上</note>
<description></description>
<path>main.php</path>
<include>include.php</include>
<level>1</level>
<author>
  <name>可风网</name>
  <email>59005022@qq.com</email>
  <url>kfuu.cn</url>
</author>
<source>
  <name></name>
  <email></email>
  <url></url>
</source>
<adapted>151935</adapted>
<version>1.0</version>
<pubdate>2019-09-27</pubdate>
<modified>2019-09-27</modified>
<price>0</price>
<phpver>5.4</phpver>
<advanced>
  <dependency></dependency>
  <rewritefunctions></rewritefunctions>
  <existsfunctions>getimagesize</existsfunctions>
  <conflict></conflict>
</advanced>
<sidebars>
  <sidebar1></sidebar1>
  <sidebar2></sidebar2>
  <sidebar3></sidebar3>
  <sidebar4></sidebar4>
  <sidebar5></sidebar5>
</sidebars>
</plugin>